@using App.UI.Mvc5.Areas.Search

<!-- Page Contents -->

<li class="nav-item @Menu.IfActiveItem("search.*", "active")">
	<a class="nav-link" href="@Url.Action("Index", "_Landing")">@(GetLocalizedString<AreaResources>("Blank"))</a>
</li>
